a:link, a:visited {
    text-decoration:none;
}

.footer {
    background-color: rgb(238, 236, 236);
    text-align: center;
}


.footerI {
    display: inline-flex;
    justify-content: space-between;
}

.logoFooter {
    width: 4rem;
}

.logos {
    display: inline-flex;
    justify-content: space-between;
    width: 25px;
    margin-bottom: 10px;
}

