* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    position: relative;
    padding-bottom: 4rem;
    min-height: 100vh;
}

footer {
    position: absolute;
    bottom: 0;
}